
.Navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: 2 / 1 / 2 / 1;
    background-color: var(--bg-secondary);
}


.Navbar button{
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: 0%;
    
}

.Navbar img{
    aspect-ratio: 1/1;
    width: 32px;
    height: 32px;
}

.selected{
    /* Turns a black SVG icon into a specific blue shade */ 
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(213deg) brightness(119%) contrast(119%);
  filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(7432%) hue-rotate(200deg) brightness(97%) contrast(145%)
}


@media (orientation: landscape) {
    .Navbar{
        flex-direction: column;
        grid-area: 1 / 1 / 1 / 1;
        gap: 10px;
        height: 100dvh;
        
    }    
}

@media (orientation: portrait) {
    .Navbar{
        width: 100dvw;
        justify-content: space-evenly;
    }

    .Navbar img{
        width: 28px;
        height: 28px;
    }

    .Navbar button{
        width: 40px;
        height: 40px;
        padding: 0%;
    }
}