
.portfolio{
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.heading{
    display: inline-block;
}

.totalinvestment{
    background-color: var(--btn-primary-bg);
    margin: 0.5em 1em 0.5em ;
    padding: 1em;
    border: hidden;
    border-radius: 10px;
    color: var(--btn-primary-text);
}

.portfoliocontent{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    
    padding-right: 0.25rem;

    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and legacy Edge */
    -ms-overflow-style: none; 
}

@media (orientation: portrait) {
    .portfolio{
        height: calc(100vh - 60px);
    }
}