
.StockApp{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-rows: calc(100dvh - clamp(60px , 8dvh ,100px)) clamp(60px , 8dvh ,100px);
    grid-template-columns: 1fr;
    
}

.content{
    margin: 0%;
    width: 100dvw;
    height: calc(100dvh - clamp(60px , 8dvh ,100px));
}


@media (orientation: landscape) {
    .StockApp{
        grid-template-columns: clamp(60px , 10dvw ,70px) calc(100dvw - clamp(60px , 10dvw ,70px));
        grid-template-rows: 1fr;
    }

    .content{
        height: 100dvh;
        width : calc(100dvw - clamp(60px , 10dvw ,70px));
    }

    
}